<!DOCTYPE >
/* This is a single-line comment */
body {
    background-color: darkslategrey;
    color: azure;
    font-size: 1.1em;
}
h1 {
    color: coral;
}
#intro {
    font-size: 1.3em;
}
.colorful {
    color: orange;
}
#para1 {
  text-align: center;
  color: red;
}
 p.ex1 {
  max-width: 150px;
}
<p class="ex1">
   div.a {
  text-indent: 50px;
          body {
            margin: 0;
          }
     p.normal {
  font-weight: normal;
}
<p class="normal">
     <p style="font-family:courier;">